.TradeAnalyzerTeamStats{
    color: white;
}

.teamTradeStatsTables{
    border-top:  3px black dotted;
}

.TradeAnalyzerTeamStats table {
    position: relative;
    left:11%;
    width:70%;
}

.statsBeforeTrade{
    border-collapse: separate;
    border-spacing: 1px 5px;
    width: 100%;
}

.statsBeforeTrade td {
    border: solid 2px rgb(156, 156, 182);
    border-radius: 10%;
    width: 10%;
    text-align: center;
}

.differencePositive{
    position: relative;
    left:35%;
    background-color: rgb(9, 107, 9);
    width:30%;
    border-radius: 40%;

}

.differenceNegative{
    position: relative;
    left: 35%;
    background-color: rgb(226, 73, 73);
    width: 30%;
    border-radius: 40%;
}

.tableLabel{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    left:11%;
}

.tableExplanationLabel {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    left: 5%;
    text-decoration: underline;
    color:rgb(124, 211, 211);
}

.calculateStatsBtn{
    position: relative;
    left:3%;
    background-color: rgb(100, 177, 100);
    border-radius: 30%;
    width:7%;
}

.averageStatsGivenRecieved{
    border-top:  3px black dashed;
}

.averageTradedHigher{
    color:rgb(107, 226, 107);
    font-weight: 500;
}

.averageTradedLower {
    color: rgb(235, 106, 73);
    font-weight: 500;
}